.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  padding: 0 9vmax;
  box-sizing: border-box;
  /* background-color: rgb(235, 235, 235); */
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

#myOrdersHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}

.myOrdersTable {
  background-color: rgb(235, 235, 235);
  overflow-x: scroll;
}

.myOrdersTable tr, .myOrdersTable tbody {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none;
  font: 200 1.2vmax "cursive";
  height: 2.5vmax;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.columnHeader {
  background-color: tomato;
}

.columnHeader tr {
  color: rgb(255, 255, 255);
  font: 300 1.1vmax "Roboto" ;
}

table{
  border-collapse: collapse;
  text-align: center;
}


@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0 5px;
    padding-top: 5px;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
    width: 100vw;
  }

  .myOrdersTable tr, .myOrdersTable tbody {
    font: 300 4vw "Roboto";
  }

  .columnHeader {
    padding: 20px ;
  }

  .columnHeader tr {
    font: 300 4vw "Roboto" ;
  }
}